#### Read dataset

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("hotel_bookings_uncleaned.csv")

#### See first five column

In [2]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

#### See all column

In [3]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

#### Data type

In [4]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

#### Check null value to all

In [5]:
df.isnull().sum().reset_index()

                             index       0
0                            hotel       0
1                      is_canceled       0
2                        lead_time       0
3                arrival_date_year       0
4               arrival_date_month       0
5         arrival_date_week_number       0
6        arrival_date_day_of_month       0
7          stays_in_weekend_nights       0
8             stays_in_week_nights       0
9                           adults       0
10                        children       4
11                          babies       0
12                            meal       0
13                         country     488
14                  market_segment       0
15            distribution_channel       0
16               is_repeated_guest       0
17          previous_cancellations       0
18  previous_bookings_not_canceled       0
19              reserved_room_type       0
20              assigned_room_type       0
21                 booking_changes       0
22                    deposit_type       0
23                           agent   16340
24                         company  112593
25            days_in_waiting_list       0
26                   customer_type       0
27                             adr       0
28     required_car_parking_spaces       0
29       total_of_special_requests       0
30              reservation_status       0
31         reservation_status_date       0

#### Fill to 0 to childern column

In [6]:
df['children'].fillna(0, inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\289084130.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['children'].fillna(0, inplace=True)

#### Fill the most frequent country

In [7]:
most_common_country = df['country'].mode()[0]
print(most_common_country)

PRT

##### Filled missing value with this frequent item

In [8]:
df['country'].fillna(most_common_country, inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\2185179378.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna(most_common_country, inplace=True)

#### Filled Direct booking text to agent column

In [9]:
df['agent'].fillna("Direct Booking", inplace=True)
df['agent'] = df['agent'].astype(str)
df['agent'] = df['agent'].str.replace('.0', '', regex=False)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\822784101.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['agent'].fillna("Direct Booking", inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\822784101.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Direct Booking' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['agent'].fillna("Direct Booking", inplace=True)

In [10]:
df['agent'].value_counts().head(10)

agent
9                 31961
Direct Booking    16340
240               13922
1                  7191
14                 3640
7                  3539
6                  3290
250                2870
241                1721
28                 1666
Name: count, dtype: int64

#### Fill missing company values

In [11]:
df['company'].fillna("Individual Booking", inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\1303838016.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['company'].fillna("Individual Booking", inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\1303838016.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Individual Booking' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['company'].fillna("Individual Booking", inplace=True)

##### Convert numeric company IDs to labels

In [12]:
# 1) Make sure everything is string
df['company'] = df['company'].astype(str)

# 2) Remove all 'Company' words first and clean spaces
df['company'] = df['company'].str.replace('Company', '', regex=False).str.strip()

# 3) Values that are 'nan' (text) -> real NaN
df['company'].replace('nan', np.nan, inplace=True)

# 4) Fill missing with nice label
df['company'].fillna('Individual Booking', inplace=True)

# 5) For all non-'Individual Booking', add 'Company ' prefix ONCE
df.loc[df['company'] != 'Individual Booking', 'company'] = 'Company ' + df['company']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\4096836487.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['company'].replace('nan', np.nan, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_4244\4096836487.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['company'].fillna('Individual Booking', inplace=True)

In [13]:
df['company'].value_counts()

company
Individual Booking    112593
Company 40.0             927
Company 223.0            784
Company 67.0             267
Company 45.0             250
                       ...
Company 18.0               1
Company 273.0              1
Company 368.0              1
Company 393.0              1
Company 132.0              1
Name: count, Length: 353, dtype: int64

In [14]:
df.isnull().sum().reset_index()

                             index  0
0                            hotel  0
1                      is_canceled  0
2                        lead_time  0
3                arrival_date_year  0
4               arrival_date_month  0
5         arrival_date_week_number  0
6        arrival_date_day_of_month  0
7          stays_in_weekend_nights  0
8             stays_in_week_nights  0
9                           adults  0
10                        children  0
11                          babies  0
12                            meal  0
13                         country  0
14                  market_segment  0
15            distribution_channel  0
16               is_repeated_guest  0
17          previous_cancellations  0
18  previous_bookings_not_canceled  0
19              reserved_room_type  0
20              assigned_room_type  0
21                 booking_changes  0
22                    deposit_type  0
23                           agent  0
24                         company  0
25            days_in_waiting_list  0
26                   customer_type  0
27                             adr  0
28     required_car_parking_spaces  0
29       total_of_special_requests  0
30              reservation_status  0
31         reservation_status_date  0

In [15]:
(df.isin(["NaN", "NULL", "Null"])).sum().reset_index()

                             index  0
0                            hotel  0
1                      is_canceled  0
2                        lead_time  0
3                arrival_date_year  0
4               arrival_date_month  0
5         arrival_date_week_number  0
6        arrival_date_day_of_month  0
7          stays_in_weekend_nights  0
8             stays_in_week_nights  0
9                           adults  0
10                        children  0
11                          babies  0
12                            meal  0
13                         country  0
14                  market_segment  0
15            distribution_channel  0
16               is_repeated_guest  0
17          previous_cancellations  0
18  previous_bookings_not_canceled  0
19              reserved_room_type  0
20              assigned_room_type  0
21                 booking_changes  0
22                    deposit_type  0
23                           agent  0
24                         company  0
25            days_in_waiting_list  0
26                   customer_type  0
27                             adr  0
28     required_car_parking_spaces  0
29       total_of_special_requests  0
30              reservation_status  0
31         reservation_status_date  0

##### convert 1/0 to cancel and no cancel

In [16]:
df['is_canceled'] = df['is_canceled'].replace({
    1: 'Canceled',
    0: 'Not Canceled'
})

In [17]:
df['is_canceled'].value_counts()

is_canceled
Not Canceled    75166
Canceled        44224
Name: count, dtype: int64

##### Checking negative value to weekend_night

In [18]:
(df['stays_in_weekend_nights'] < 0).any()

np.False_

##### Replacing 0 to No Weekend stay text and add text "Day"

In [19]:
df['weekend_stay_text'] = df['stays_in_weekend_nights'].apply(
    lambda x: "No Weekend Stay" if x == 0 else f"{x} day" if x == 1 else f"{x} days"
)

In [20]:
df['weekend_stay_text'].value_counts()

weekend_stay_text
No Weekend Stay    51998
2 days             33308
1 day              30626
4 days              1855
3 days              1259
6 days               153
5 days                79
8 days                60
7 days                19
9 days                11
10 days                7
12 days                5
13 days                3
16 days                3
14 days                2
19 days                1
18 days                1
Name: count, dtype: int64

##### Change to 0 to text and add text "Day" and "Days" to stays_in_week_nights

In [21]:
df['weekday_stay_text'] = df['stays_in_week_nights'].apply(
    lambda x: "No Weekday Stay" if x == 0 else f"{x} day" if x == 1 else f"{x} days"
)

In [22]:
df['weekday_stay_text'].value_counts()

weekday_stay_text
2 days             33684
1 day              30310
3 days             22258
5 days             11077
4 days              9563
No Weekday Stay     7645
6 days              1499
10 days             1036
7 days              1029
8 days               656
9 days               231
15 days               85
11 days               56
19 days               44
12 days               42
20 days               41
14 days               35
13 days               27
16 days               16
21 days               15
22 days                7
18 days                6
25 days                6
30 days                5
17 days                4
24 days                3
40 days                2
33 days                1
42 days                1
50 days                1
32 days                1
26 days                1
34 days                1
35 days                1
41 days                1
Name: count, dtype: int64

##### repeated_guest change to text

In [23]:
df['is_repeated_guest'] = df['is_repeated_guest'].replace({
    0: 'New Guest',
    1: 'Returning Guest'
})

In [24]:
df['is_repeated_guest'].value_counts()

is_repeated_guest
New Guest          115580
Returning Guest      3810
Name: count, dtype: int64

##### previous_cancellations

In [25]:
df['previous_cancellations_text'] = df['previous_cancellations'].apply(
    lambda x: "No previous cancellations" if x == 0 else
              f"{x} time canceled before" if x == 1 else
              f"{x} times canceled before"
)

In [26]:
df['previous_cancellations_text'].value_counts()

previous_cancellations_text
No previous cancellations    112906
1 time canceled before         6051
2 times canceled before         116
3 times canceled before          65
24 times canceled before         48
11 times canceled before         35
4 times canceled before          31
26 times canceled before         26
25 times canceled before         25
6 times canceled before          22
5 times canceled before          19
19 times canceled before         19
14 times canceled before         14
13 times canceled before         12
21 times canceled before          1
Name: count, dtype: int64

##### previous_bookings_not_canceled

In [27]:
df['previous_success_text'] = df['previous_bookings_not_canceled'].apply(
    lambda x: "No successful bookings" if x == 0 else 
              f"{x} time successful booking" if x == 1 else 
              f"{x} times successful booking"
)

In [28]:
df['previous_success_text'].value_counts()

previous_success_text
No successful bookings         115770
1 time successful booking        1542
2 times successful booking        580
3 times successful booking        333
4 times successful booking        229
                                ...
68 times successful booking         1
69 times successful booking         1
70 times successful booking         1
71 times successful booking         1
72 times successful booking         1
Name: count, Length: 73, dtype: int64

##### Transform booking_changes

In [29]:
df['booking_changes_text'] = df['booking_changes'].apply(
    lambda x: "No booking changes" if x == 0 else
              f"{x} time booking changed" if x == 1 else
              f"{x} times booking changed"
)

In [30]:
df['booking_changes_text'].value_counts()

booking_changes_text
No booking changes          101314
1 time booking changed       12701
2 times booking changed       3805
3 times booking changed        927
4 times booking changed        376
5 times booking changed        118
6 times booking changed         63
7 times booking changed         31
8 times booking changed         17
9 times booking changed          8
10 times booking changed         6
14 times booking changed         5
13 times booking changed         5
15 times booking changed         3
17 times booking changed         2
16 times booking changed         2
12 times booking changed         2
11 times booking changed         2
20 times booking changed         1
21 times booking changed         1
18 times booking changed         1
Name: count, dtype: int64

##### Change text to days_in_waiting_list

In [31]:
df['waiting_list_text'] = df['days_in_waiting_list'].apply(
    lambda x: "No waiting" if x == 0 else
              f"{x} day waiting" if x == 1 else
              f"{x} days waiting"
)

In [32]:
df['waiting_list_text'].value_counts()

waiting_list_text
No waiting          115692
39 days waiting        227
58 days waiting        164
44 days waiting        141
31 days waiting        127
                     ...
81 days waiting          1
92 days waiting          1
74 days waiting          1
167 days waiting         1
36 days waiting          1
Name: count, Length: 128, dtype: int64

##### Adding text required_car_parking_spaces

In [33]:
df['parking_text'] = df['required_car_parking_spaces'].apply(
    lambda x: "No parking required" if x == 0 else
              f"{x} parking space" if x == 1 else
              f"{x} parking spaces"
)

In [34]:
df['parking_text'].value_counts()

parking_text
No parking required    111974
1 parking space          7383
2 parking spaces           28
3 parking spaces            3
8 parking spaces            2
Name: count, dtype: int64

##### Adding text to Total_of_special_requests

In [35]:
df['special_request_text'] = df['total_of_special_requests'].apply(
    lambda x: "No special request" if x == 0 else
              f"{x} special request" if x == 1 else
              f"{x} special requests"
)

In [36]:
df['special_request_text'].value_counts()

special_request_text
No special request    70318
1 special request     33226
2 special requests    12969
3 special requests     2497
4 special requests      340
5 special requests       40
Name: count, dtype: int64

##### change to date time format

In [37]:
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

##### create useful data feature

In [38]:
df['status_year'] = df['reservation_status_date'].dt.year

In [39]:
df['status_month'] = df['reservation_status_date'].dt.month

In [40]:
df['status_month_name'] = df['reservation_status_date'].dt.month_name()

In [41]:
df['status_day'] = df['reservation_status_date'].dt.day_name()

#### duplicates exist

In [42]:
df.duplicated().sum()

np.int64(32013)

##### Remove All Duplicate Rows

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df.duplicated().sum()

np.int64(0)

#### check new dataset size

In [45]:
df.shape

(87377, 44)

#### Checking negative value

In [46]:
num_df = df.select_dtypes(include=['number'])
(num_df < 0).sum()

lead_time                         0
arrival_date_year                 0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
days_in_waiting_list              0
adr                               1
required_car_parking_spaces       0
total_of_special_requests         0
status_year                       0
status_month                      0
dtype: int64

In [47]:
df = df[df['adr'] >= 0]

In [48]:
# 1. Select only numeric columns
num_df = df.select_dtypes(include=['number'])

# 2. Check how many negative values in each numeric column
(num_df < 0).sum()

lead_time                         0
arrival_date_year                 0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
days_in_waiting_list              0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
status_year                       0
status_month                      0
dtype: int64

In [49]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,previous_cancellations_text,previous_success_text,booking_changes_text,waiting_list_text,parking_text,special_request_text,status_year,status_month,status_month_name,status_day
0,Resort Hotel,Not Canceled,342,2015,July,27,1,0,0,2,...,No previous cancellations,No successful bookings,3 times booking changed,No waiting,No parking required,No special request,2015,7,July,Wednesday
1,Resort Hotel,Not Canceled,737,2015,July,27,1,0,0,2,...,No previous cancellations,No successful bookings,4 times booking changed,No waiting,No parking required,No special request,2015,7,July,Wednesday
2,Resort Hotel,Not Canceled,7,2015,July,27,1,0,1,1,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,No special request,2015,7,July,Thursday
3,Resort Hotel,Not Canceled,13,2015,July,27,1,0,1,1,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,No special request,2015,7,July,Thursday
4,Resort Hotel,Not Canceled,14,2015,July,27,1,0,2,2,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,1 special request,2015,7,July,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,Not Canceled,23,2017,August,35,30,2,5,2,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,No special request,2017,9,September,Wednesday
119386,City Hotel,Not Canceled,102,2017,August,35,31,2,5,3,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,2 special requests,2017,9,September,Thursday
119387,City Hotel,Not Canceled,34,2017,August,35,31,2,5,2,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,4 special requests,2017,9,September,Thursday
119388,City Hotel,Not Canceled,109,2017,August,35,31,2,5,2,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,No special request,2017,9,September,Thursday
119389,City Hotel,Not Canceled,205,2017,August,35,29,2,7,2,...,No previous cancellations,No successful bookings,No booking changes,No waiting,No parking required,2 special requests,2017,9,September,Thursday

#### Check Extreme ADR Values

In [50]:
# Check how many rows have adr = 5400
print("Rows with adr = 5400:", (df["adr"] == 5400).sum())

Rows with adr = 5400: 1

#####  Remove Extreme ADR Outlier

In [51]:
# Remove those rows
df = df[df["adr"] != 5400].copy()

##### Handling Extreme ADR Outliers

In [52]:
# Confirm removal
print("Rows with adr = 5400 after removal:", (df["adr"] == 5400).sum())
print("New shape:", df.shape)

Rows with adr = 5400 after removal: 0
New shape: (87375, 44)

In [53]:
# Save cleaned dataset as CSV
df.to_csv("hotel_bookings_cleaned.csv", index=False)